<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <style>
  th{
    border:1px;
  }
  </style>
</head>
<body>
  <div id="app" class="container">
      <div v-if="loading" class="loader"><img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="loader"></div>
      <member-list v-if="!loading" :members="members"></member-list>
    </div>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
  </body>
